.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

/* Ajustes do título: reduzir margem padrão do h3 */
.App-header h3 {
  margin: 1px; /* ajuste conforme quiser: menor = 0, maior = 12px, etc. */
  font-weight: 600;
}

.App-link {
  color: rgb(227, 103, 123);
  font-size: 13px;
  height: 40px;
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
